<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jacky.launcher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jacky.launcher.main.MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:banner="@drawable/app_icon_your_company"
            android:logo="@drawable/app_icon_your_company"
            android:icon="@drawable/app_icon_your_company"
            android:theme="@style/AppCompatTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jacky.launcher.app.AppUninstall"
            android:exported="false" />
        <activity
            android:name="com.jacky.launcher.detail.MediaDetailsActivity"
            android:exported="false" />
        <activity android:name=".ui.OnboardingActivity"
            android:enabled="true"
            android:exported="false"
            android:theme="@style/Theme.Leanback.Onboarding" />
        <activity android:name=".ui.SettingsActivity"
            android:exported="false"
            />
    </application>

</manifest>